.__sections__
    .btn-success
        color: #ffffff;
        background-color: #16A085 !important;
        border-color: #BBECD0;
    .btn-warning
        color: #ffffff;
        background-color: #BDC3C7 !important;
