.__sections__

    label,
    .form-control,
    .form-group .form-control,
    .select2-search input[type="text"]
        fs(11); h(33); p(2,12);

    .form-group
        m(2,0);

        .input-group-addon
            bg(#F9F9F9); fg(black); bd(1,1,1,1,solid,#e8e9ed); fs(11);



        .form-control
            bd(1,1,1,1,solid,#16A085); fs(15);