.__sections__
      ul.nav-tabs li.active a
          background-color: #f9f9f9;
          border-color: #e1e4e7 #e1e4e7 #f9f9f9;

      .nav-tabs > li > a
          padding: 0px 15px 0px;

      .tab-content
        m(0);
        overflow-y: auto;

      .tab-pane
          dn();
          &.active
              db();

      #editor .input-group-addon{
        color: #555;
        background-color: #eee;
      }
      #editor .input-group {
        margin:5px 0px;
      }
      .nav-tabs li span
          font-size: 11px;
          color: #34495E;
