.___modal_blocker
    fx(0,0,0,0,1000000); bg(rgba(52, 73, 94, 0.51)); wh(100%); vam();  op(0); tr-cl(); cur(pointer);
    overflow:auto;
    &.in
        op(1);

    &.loading
        tac();

    .___modal_wrapper
        rl(); tac(); m(10); ts(translate3d(0,-55%,0)); op(1); tr-cl();//bs(0 0 10px #000);
        @media screen-md-min
            m(30,auto);
        &.in
            op(1); ts(translate3d(0,0,0));

.___modal_open_body
    oh();


&.sections-modal
    dn(); m(0, auto); bs-lt(); bg(white); tal(); rad(10,10,10,10); wr(auto,auto,600,600); rl(); z(1000001);
    cur(default)
    &.in
        db();

    .sections-modal-head, .sections-modal-header
        p(20, 20); tal(); fs(18); fg(#666666); rad(10,10,0,0); bb(1,solid,#F0F0F0)


    .sections-modal-foot, .sections-modal-footer
        p(20,20); cl(); rad(0,0,10,10); bg(#F0F0F0);
        .button2, .button
            ml(7);

    .sections-modal-content
        p(20, 20); cl();

    .sections-modal-close
        ab(5,12,,,10000); wh(30); db(); fg(grey-dk); tr-cl(); fs(30); cur(pointer);
        &:hover
            fg(white);
        &.black
            fg(black);
            &:hover
                fg(white);

modal-colorize(color-name, color)
    {"&."+color-name}
        .sections-modal-head, .sections-modal-title, .sections-modal-foot
            bg(color);

modal-colorize('blue', blue);
modal-colorize('teal', teal);
modal-colorize('orange', orange);
modal-colorize('green', green);
modal-colorize('grey', grey-dk);
modal-colorize('red', red);
modal-colorize('white', white);