ul.nav-tabs li.active a
    background-color: #f9f9f9;
    border-color: #e1e4e7 #e1e4e7 #f9f9f9;

.nav-tabs > li > a
    padding: 7px 15px 8px;
    font-size: 14px;

.tab-content
    dn();
    &.active
        db();

#editor .input-group-addon{
  color: #555;
  background-color: #eee;
}
#editor .input-group {
  margin:5px 0px;
}
.nav-tabs li span
    font-size: 12px;
    color: #34495E;
